h1{ 
	font-family: Arial Black; 
	font-weight: bold; 
	font-size: 50px; 
	color: #fff; 
	text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
h3{
	text-decoration:underline;
}
div{
	width:30%;
	text-align:center;
	margin:auto;
}
form{
	margin-top:100px;
	border:solid 2px black;
	padding:14%;
	border-radius:20px;
	background-color:#C7ECE9;
	font-size:1.2em;
}
input[type="submit"]{
	padding:10px;
	color:#3F8A0B;
	
}
input[type="submit"]:hover{
	color:red;
}